#my-nav3 {
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  
  #my-nav-link3 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  #my-logo3 {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  #ul-design3 {
    float: right;
    margin-right: 20px;
  }
  
  .li-design3 {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  .my-nav-link3.active,
  .my-nav-link3:hover { /* Corrected selector */
    background: #1b9bff;
    transition: .5s;
  }
  
  #checkbtnn3 {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check3 {
    display: none;
  }
  
  @media (max-width: 952px) {
    #my-logo3 {
      font-size: 30px;
      padding-left: 50px;
    }
    #my-nav-link3 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    #checkbtnn3 {
      display: block;
    }
    #ul-design3 {
      position: fixed;
      width: 100%;
      height: 80vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .li-design3 {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .my-nav-link3 {
      font-size: 20px;
    }
    /* Corrected selector */
    .my-nav-link3:hover,
    .my-nav-link3.active {
      background: none;
      color: #0082e6;
    }
    #check3:checked ~ ul {
      left: 0;
    }
  }
  
  /* Added CSS for the background image section */

  