*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;  
  }
  
  .body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: linear-gradient(#ca5310 0%, #ca5310 130px, #d9dbd5 130px, #d9dbd5 100px);
  }

  
  .container .leftside{
      position: relative;
      flex: 30%;
      background: #faebd8;
      border-right: 1px solid #000;
  }
  .container .rightside{
      position: relative;
      flex: 70%;
      background: #fffcf9;
      border-right: 1px solid rgb(0, 0, 0, 0.2);
  }
  
  .container .rightside::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../assets/logo.png);
      opacity: 0.05; 
  }
  

  
  .userimg{
      position:relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
  }
  

  
  .Nav_icons{
      display: flex; 
  }
  .Nav_icons li{
      display: flex;
      list-style: none;
      cursor: pointer;
      color: #51585c;
      font-size: 1.5em;
      margin-left: 15px;
      padding-top: 17px;
  }
  .search_chat{
      position: relative;
      width: 100%;
      height: 50px;
      background: #ffc582;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
  }
  
  .search_chat div{
      width: 100%;
  }
  .search_chat div input{
      width: 100%;
      outline: none;
      border: none;
      background: #fff;
      padding: 6px;
      height: 38px;
      border-radius: 30px;
      font-size: 14px;
      padding-left: 40px;
  }
  
  .search_chat div input::placeholder{
      color: #bbb;
  }
  .search_chat div ion-icon
  {
      position: absolute;
      left: 30px;
      top: 14px;
      font-size: 1.2em;
  }
  
  .chatlist{
      position: relative;
      height: calc(100% - 110px);
      overflow-y: auto;
  }
  
  .chatlist .block{
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid rgb(0, 0, 0, 0.06);
      cursor: pointer;
  }
  .chatlist .block .active{
      background: #ebebeb;
  }
  .chatlist .block:hover{
      background: #eae0d4;
  }
  
  .chatlist .block .imgbx{
      position: relative;
      min-width: 45px;
      height: 45px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 15px;
  }
  
  .chatlist .block .details{
      position: relative;
      width: 100%;
  }
  
  .chatlist .block .details .listhead{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
      margin-top: 10px;
  }
  
  .chatlist .block .details .listhead h6{
      font-size: 1em;
      font-weight: 600;
      color: #111;
  }
  
  .chatlist .block .details .listhead .time{
      font-size: 0.75em;
      color: #aaa;
  }
  
  .chatlist .block .details .listhead .time{
      color: #111;
  
  }
  
  .chatlist .block.unread .details .listhead .time{
      color: #ca5310;
  }
  .message_p{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .message_p p{
      color: #aaa;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      font-size: 0.9em;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .message_p b{
      background: #ca5310;
      color: #fff;
      min-width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75em;
  }
  
  .imgtext{
      position: relative;
      display: flex;
      justify-content: center;
      justify-items: center;
  }
  
  .imgtext h6{
      font-weight: 500;
      line-height: 1.2em;
      margin-left: 15px;
      margin-top: 3px;
  }
  
  .imgtext h6 span{
      font-size: 0.8em;
      color: #555;
  }
  
  
  
  .chatBox{
      position: relative;
      width: 100%;
      height: calc(100% - 120px);
      padding: 50px;
      overflow-y: auto;
  }
  
  .message{
      position: relative;
      display: flex;
      width: 100%;
      margin: 5px 0;
  }
  
  .message p{
      position: relative;
      right: 0;
      text-align: right;
      max-width: 65%;
      padding: 12px;
      background: #f9e2c3;
      border-radius: 20px;
      font-size: 0.9em;
  }
  
  .message p::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #f9e2c3 0%, #f9e2c3 50%, transparent 50%, transparent);
  
  }
  
  .message p span{
      display: block;
      margin-top: 5px;
      font-size: 0.85em;
      opacity: 0.5;
  
  }
  
  .my_message{
      justify-content: flex-end;
  }
  
  .frnd_message{
      justify-content: flex-start;
  }
  
  .frnd_message p{
      background: #fff;
      text-align: left;
  }
  
  
  .message.frnd_message p::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50%, transparent);
  
  }
  
  
  .chatbox_input{
      position: relative;
      width: 100%;
      height: 60px;
      background: #fbba72;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .chatbox_input ion-icon{
      cursor: pointer;
      font-size: 1.8em;
      color: #51585c;
  }
  
  .chatbox_input ion-icon:nth-child(1){
      margin-right: 15px;
  }
  
  .chatbox_input input{
      position: relative;
      width: 95%;
      margin: 0 9px;
      padding: 10px 20px;
      border: none;
      outline: none;
      border-radius: 30px;
      font-size: 1em;
  }